#body
{
    background-color: rgba(2, 109, 16, 0.829);
}

section img
{
    max-width: 100%;
    max-height: 100%;
}

.facebook
{
    height: 200px;
    width: 200px;
}

.twitter
{
    height: 200px;
    width: 200px;
}

.instagram
{
    height: 200px;
    width: 200px;
}

section h2
{
    font-size: 40px;
}

section p
{
    font-size: 40px;
}